/*
body {
	background-color: #174753;
}

.header h3, .footer {
	color: #ee6768;
}

.jumbotron {
	background-color: #72D0EB;
	color: #174753;
}

.jumbotron .btn {
	background-color: #ee6768;
	font-weight: 700;
	font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif;
	border: none;
}

.col-lg-6 {
	background-color: #ddd;
	color: #586E75;
}

.col-lg-6 h4 {
	color: #174753;
	font-weight: 700;
}

.col-lg-6 a {
	color: #ee6768;
}

.col-lg-6 p span {
	color: #174753;
	font-weight: 700;
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

*/

.jumbotron {
	background-color: #174753;
	color: #72D0EB;
}

.jumbotron .btn {
	background-color: #ee6768;
	font-weight: 700;
	font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif;
	border: none;
}

.col-lg-6 {
	background-color: rgba(226, 233, 239, 0.4);
	color: #586E75;
}

.col-lg-6 h4 {
	color: #174753;
	font-weight: 700;
}

.col-lg-6 a {
	color: #ee6768;
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

