body {
	background-color: #174753;
}

.container {
	position: relative;
}

.carousel {
	height: 377px;
}

.carousel-control {
	width: 60px;
}

.header h3, 
.footer {
	color: #ee6768;
}

.jumbotron {
	background-color: #72D0EB;
	color: #174753;
	height: 377px;
}

.jumbotron a {
	color: #ee6768;
	font-weight: 500;
}

.jumbotron .btn {
	background-color: #ee6768;
	font-weight: 700;
	font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif;
	border: none;
	color: white;
}

.content {
	background-color: #ddd;
	color: #586E75;
}

.content h4 {
	color: #174753;
	font-weight: 700;
}

.content a {
	color: #ee6768;
}

.content strong {
	color: #174753;
}

.content p span {
	color: #174753;
	font-weight: 700;
}

.col-lg-6 {
	/*height: 670px;*/
	border: solid;
	border-color: white;
	border-width: 6px;
	border-radius: 6px;
}

.col-lg-6.left {
	margin-bottom: 40px;
}
.col-lg-6.right {
	margin-top: 40px;
}

.col-lg-12 {
	padding-top: 15px;
	padding-bottom: 15px;
	border: solid;
	border-color: white;
	border-width: 6px;
	border-radius: 6px;
}

.sticker {
	border-color: #ee6768;
	color: #ee6768;
	font-weight: 700;	
}

.location-text {
	display: table-cell;
	vertical-align: top;
}
.location-text h4 {
	margin-top: 0px;
}
.location-image {
	display: none;
}

@media (min-width: 1200px) {
  .courses {
	display: table;
	vertical-align: top;
  }
  .course {
	display: table-cell;
	float: none;
  }
  .col-lg-6.left {
	border-radius: 6px 0px 0px 6px;
  }
  .col-lg-6.right {
	border-radius: 0px 6px 6px 0px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
  .location-image {
	display: table-cell;
	padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron h2,
  .jumbotron .h2 {
    font-size: 56px;
  }

  .jumbotron h3,
  .jumbotron .h3 {
    font-size: 50px;
  }

  .sticker {
	position: absolute;
	top: 10px;
	right: -20px;
	font-size: 18px;
	color: #ee6768;
	width: 183px;
	text-align: center;
	background-color: #eee;
	border-radius: 70px;
	border: solid;
	border-color: #ee6768;
	padding: 12px;
	-webkit-transform: rotate(12.5deg);
	-moz-transform: rotate(12.5deg);
	-ms-transform: rotate(12.5deg);
	-o-transform: rotate(12.5deg);
	transform: rotate(12.5deg);
	opacity: 0.9;
	z-index: 10;
  }  
}

@media screen and (max-width: 370px) {
	h3 {
		font-size: 16px;
	}
}

/*
.jumbotron {
	background-color: #72D0EB;
	color: #174753;
}

.jumbotron .btn {
	background-color: #ee6768;
	font-weight: 700;
	font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.col-lg-6 {
	background-color: rgba(226, 233, 239, 0.4);
	color: #586E75;
}

.col-lg-6 h4 {
	color: #ee6768;
	font-weight: 700;
}

.col-lg-6 a {
	color: rgba(25, 170, 207);
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}
*/

